body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.board-container div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.board-cell-white {
  background-color: white;
}

.board-cell-black {
  background-color: black;
}
